@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Quicksand", serif;
    /* font-family: "Raleway", serif; */

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared style section start here */

.header {
    max-width: 1158px;
    margin: 0 auto;
}


.display-flex {
    display: flex;
}

.primary-btn {
    border: none;
    background-color: black;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;


}

/* shared style section end here */


/* marquee style */
marquee{
    font-size: 1.2rem;
    background-color: #01ACFD;
    padding: 10px;
}
.highlight{
    color: red;
    font-size: 2rem;
}


/* header section style  start here */



/* nav bar style start here */
.nav-container {
    justify-content: space-between;
    padding: 30px;
}

.logo {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

ul li,
a {
    text-decoration: none;
    margin: 17px;
    /* margin-top: 10px; */
}

ul li {
    list-style: none;
}

#first-menu {
    color: orange;
    font-size: 1.2rem;
    font-weight: bold;

}

#second-menu {
    color: skyblue;
    font-size: 1.2rem;
    font-weight: 600;
}

#third-menu {
    color: #05D4DF;
    font-size: 1.2rem;
    font-weight: 600;

}

#fourth-menu {
    color: #5D58EF;
    font-size: 1.2rem;
    font-weight: 600;
}

.contact {
    background-color: orange;
    border-radius: 12px;
    padding: 0 20px;

}

.contact,
a {
    color: white;
    font-size: 1.2rem;
    font-size: 600;

}

.icon {
    display: none;
}

#hz-row {
    display: none;
}

/* nav bar style end here */



/* banner section style start here */

.banner-container {
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;

}

.banner-description {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.76);
    margin-bottom: 24px;

}

.banner-img {
    max-width: 468px;
}

.banner-content {
    max-width: 640px;
}

#word-color {
    color: orange;
}

#word-color2 {
    color: skyblue;
}

/* banner section style end here */

/* header section style end here  */



/* main section style start here */
.main {
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
}


/* standard curriculum section style start here */

.standard-curriculum {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;

}

.section-title {
    font-size: 2.9rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.884);
    margin-bottom: 80px;
}

.card-container {
    justify-content: space-around;
}

.card {
    /* max-width: 367px; */
    width: 30%;
    text-align: center;
    border-radius: 18px;
    padding: 30px;

}

.card-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 30px 0;

}

.card-description {
    font-size: 1rem;
    font-family: "Raleway", serif;
    font-weight: 500;
    line-height: 28px;
    color: #808080;
}

.btn {

    display: block;
    color: #64C8FF;
    margin: 30px 0 50px 0;



}
.second-btn{
     color: orange;
}
.third-btn{
    color: violet;
}

#card1 {
    background-image: linear-gradient(#def5ff, #f1eded71);
}

#card2 {
    background-image: linear-gradient(#fff4dcdc, #f1eded71);
}

#card3 {
    background-image: linear-gradient(#f2e8ffcb, #f1eded71);
}

.breackt-container {
    margin-top: 80px;

}

.breackt {
    background-color: orange;
    padding: 15px;
    border-radius: 50%;
    margin-right: 15px;
    color: white;
    font-size: 2rem;

}

/* standard curriculum section style end here */


/* our stories section start here */

.our-stories {

    /* max-width: 1440px;
    margin: 0 auto; */
    text-align: center;
    margin-top: 80px;
    background-image: linear-gradient(to top, #fea10134, #FFFFFF);

}

.stories-img-container {
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    gap: 20px;
}

.stories-img-container img {
    border-radius: 12px 12px 0 0;
    width: 100%;
}

.stories-card {
    max-width: 570px;
    background-color: white;
    text-align: left;
    grid-row: span 2;
    border-radius: 12px;

}

.sub-div {
    margin-left: 30px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 38px;
    margin-top: 36px;
    margin-bottom: 51px;
}

.Years {
    display: block;
    background-color: #3CD8E8;
    width: max-content;
    border-radius: 47px;
    padding: 12px;
    color: white;
    font-size: 1rem;
    position: relative;
    top: -25px;
    left: 30px;
}

.story-card {
    max-width: 290px;
    background-color: white;
    border-radius: 12px;
}

.years2 {
    position: relative;
    padding: 10px;
    left: 20px;
    background-color: #95B226;
}
.years3{
    background-color: #5D58EF;
}

.card-title2 {
    text-align: left;
    margin: 20px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 28px;
}
.story-btn{
    margin: 60px;
}


.card-hide{
    display: none ;
}
/* our stories section end here */



/* main section style end here */



/* footer section style start here */

.footer-container{
    background-color: #01ACFD;
    color: white;
    max-width: 519px;
    max-width: 100%;
   
    
}
.footer-content-container{
    max-width: 1070px ;
    margin: 0 auto;
    /* border: 2px solid red; */
    justify-content: space-between;
    padding: 100px 0;
   
}
.footer-title{
     font-size: 1.5rem;
     font-weight: bold;
     position: relative;
     top: -30px;
}
.footer-description{
    font-size: 1.2rem;
    margin-left: 8px;
    color: rgba(255, 255, 255, 0.651);
}

.footer-menu ul{
    margin-top: 30px;
   
}
.footer-menu ul li a{
  color: rgba(255, 255, 255, 0.753);
}
.footer-icon{
    margin-top: 30px;
}
#deucation{
    margin-left: 65px;
}
.footer-icon img{
    padding: 5px;
}


/* footer section style end here */



/* small device responsive start here */





/* header section responsive start here */

@media screen and (max-width:576px) {

    .banner-container {
        flex-direction: column-reverse;
    }

    .nav-container {
        align-items: center;
    }

    .menu-bar,
    .contact,
    .header-title {
        display: none;
    }

    .icon,
    #hz-row {
        display: block;
    }

    #hz-row {
        border: 1px solid rgba(255, 0, 0, 0.295);
    }

    .banner-img {
        width: 80%;
        display: flex;
        justify-content: center;
        margin-top: 20px;



    }

    .banner-img,
    img {
        width: 90%;
    }

    .banner-content {
        text-align: center;
        padding: 10px;
    }

    .banner-title {
        font-size: 2.5rem;

    }

    .banner-description {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.76);
        margin-bottom: 24px;

    }

    br {
        display: none;
    }

    /* header section responsive end here */


    /* main section responsive  start here */

    /* standard curriculum section responsive start here */

    .section-title {
        font-size: 1.9rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.884);
        margin-bottom: 20px;
    }

    .card-container {
        flex-direction: column;
        gap: 12px;
    }

    .card {
        width: 90%;
        margin: 0 auto;

    }

    .card img {
        width: 88px;
    }

    .breackt-container {
        display: none;
    }

    /* standrad curriculum section responsive end here */


    /* our stories section responsive start here */

    .stories-img-container {
        grid-template-columns: 45% 45%;
        justify-content: center;

    }

    .stories-card {
        display: none;
    }

    .story-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: white;
        border-radius: 12px;

    }
    .Years {
        padding: 5px;
        font-size: .7rem;
        top: -15px;
        left: 10px;
    }
     
    .card-title2 {
        margin: 20px ;
        font-size: 0.8rem;
        line-height: 18px;
    }
    /* our stories section responsive end here */


    /* main section responsive end here */



    /* footer section responsive start here */


    .footer-content-container{
        flex-direction: column;
        padding: 50px 10px;
        gap: 30px;
    }

    .footer-logo img{
        width: 90px;
    }
    .footer-icon img{
        width: 43px;
    }





    
    .footer-title{
         font-size: 1.8rem;
         top: -50px;
    }
    .footer-description{
        margin-top: 20px ;
    }
    #deucation{
        margin-left: 90px;
        display: block;
       
    }

    .footer-icon img{
        padding: 5px;
    }
    
    
    



    /* footer section responsive end here */


}

/* small device responsive end here */